@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  /* Colors */
  /*change favorite color*/
  --hue-color: 250; /* purple 250 - Green 142 - blue 230 - pink 340 */

  /* HSL COLOR MODE */
  --first-color: #f46905;
  --first-color-second: #db5f06;
  --first-color-alt: #de5f04;
  --first-color-lighter: #f07d2c;
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 99%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

  /* FONT And TYPOGRAPHY */
  --body-font-sm: "Roboto", sans-serif;
  --body-font-lg: "Quicksand", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ...*/
  --big-font-size: 2rem;
  --bigger-font-size: 3rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --transition: all 0.3s linear;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  /* z-index*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}
/* ============== BASE ================== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--body-font-sm);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: 800;
  font-family: var(--body-font-lg);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* ========---- HEADER -------====== */
nav {
  background: var(--body-color);
  box-shadow: var(--light-shadow);
}
.header-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  width: 100%;
  height: 4rem;
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--body-color);
  box-shadow: var(--light-shadow);
}
.nav--logo {
  height: 1.4rem;
  position: absolute;
  top: 1.5rem;
  left: 2rem;
}
.nav-toggle {
  position: absolute;
  top: 1rem;
  right: 3rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--first-color);
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
}
.nav-toggle:hover {
  color: var(--first-color-alt);
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-modal);
  background-color: var(--body-color);
  /* box-shadow: var(--light-shadow); */
  transition: var(--transition);
  transform: translate(-100%);
}
.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}
.close-btn {
  font-size: 1.9rem;
  background: transparent;
  border-color: transparent;
  color: var(--first-color);
  cursor: pointer;
  transition: var(--transition);
  color: var(--first-color-second);
}
.close-btn:hover {
  color: var(--first-color-lighter);
  transform: rotate(360deg);
}
.nav-logo {
  justify-self: center;
  height: 20px;
}
.nav-link {
  display: block;
  font-size: 1.5rem;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  color: var(--first-color-alt);
  transition: var(--transition);
  cursor: pointer;
}
.nav-link:hover {
  background: var(--first-color);
  color: var(--container-color);
  padding-left: 1.75rem;
}
.nav-btn {
  font-size: 0.9rem;
  padding: 0.5rem;
  margin: 0.6rem;
  background: var(--first-color);
  color: var(--container-color);
  border-color: transparent;
  box-shadow: var(--light-shadow);
  cursor: pointer;
}
.show-sidebar {
  transform: translate(0);
}
@media screen and (max-width: 395px) {
  .nav--logo {
    height: 1.1rem;
  }
}
@media screen and (min-width: 676px) {
  .sidebar {
    width: 400px;
  }
}
@media screen and (min-width: 768px) {
  .sidebar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    translate: none;
    transform: none;
  }
  .nav-top {
    padding: 0;
  }
  .nav--logo {
    display: none;
  }
  .close-btn {
    display: none;
  }
  .nav-toggle {
    display: none;
  }
  .nav-logo {
    padding-left: 2rem;
  }
  .nav-list {
    height: auto;
    display: flex;
  }
  .nav-link {
    padding: 0;
    font-size: 0.9rem;
    margin: 1rem 0.6rem;
  }
  .nav-link:hover {
    padding: 0;
    background: none;
    color: var(--first-color-second);
  }
  .nav-btn {
    margin: 1rem;
  }
}
@media screen and (min-width: 1000px) {
  .nav-list {
    display: flex;
    margin-left: auto;
    margin-right: 1rem;
  }
  .nav-btn {
    margin-right: 5rem;
  }
  .nav-logo {
    padding-left: 7rem;
  }
}
@media screen and (min-width: 1300px) {
  .nav-list {
    display: flex;
    margin-right: 2rem;
  }
  .nav-btn {
    margin-right: 5rem;
  }
  .nav-logo {
    margin-left: 2rem;
  }
}
@media screen and (min-width: 1400px) {
  .nav-logo {
    margin-left: 7rem;
  }
}
/* --==== HOME ======----- */
.home {
  position: absolute;
  top: 6rem;
}
.home-content {
  padding: 1rem;
}
.home-title {
  font-size: 2rem;
  padding-left: 1rem;
  line-height: 2rem;
  font-weight: 700;
  text-transform: capitalize;
}
.home-description {
  padding: 1rem;
  font-size: 0.9rem;
  line-height: 1.75rem;
  font-weight: 400;
}
.button-content {
  padding: 1rem;
}
.home-button {
  padding: 0.5rem;
  font-size: 0.8rem;
  background: var(--first-color);
  color: var(--container-color);
  border-color: transparent;
  box-shadow: var(--dark-shadow);
}
.right-btn {
  margin-left: 0.6rem;
  background: var(--container-color);
  color: var(--text-color);
}
.home-img {
  width: 19rem;
  height: 19rem;
  padding: 1rem;
}

@media screen and (min-width: 568px) {
  .home {
    max-width: 700px;
    padding: 4rem 0.5rem;
    display: flex;
    align-items: center;
  }

  .home-title {
    font-size: 1.6rem;
  }
  .home-description {
    font-size: 0.8rem;
  }

  .right-btn {
    margin-right: -3rem;
    margin-top: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .home {
    max-width: 900px;
  }
  .home-content {
    padding-left: 1rem;
  }
  .home-title {
    font-size: 2.4rem;
    line-height: 3rem;
  }
  .home-img {
    width: 22rem;
    height: 22rem;
    padding-right: 2rem;
  }
}
@media screen and (min-width: 880px) {
  .home {
    max-width: 900px;
  }
  .home-content {
    padding-left: 3rem;
  }
  .home-img {
    width: 25rem;
    height: 25rem;
  }
}
@media screen and (min-width: 968px) {
  .home {
    max-width: 1000px;
    padding-right: 7rem;
  }
  .home-content {
    padding-left: 5rem;
  }
}
@media screen and (min-width: 1024px) {
  .home {
    max-width: 941px;
    margin-left: 6rem;
    margin-right: 2rem;
  }
  .home-content {
    padding-left: 1rem;
    margin-left: -3rem;
  }
  .home-img {
    width: 25rem;
    height: 25rem;
    margin-left: 5rem;
  }
}
@media screen and (min-width: 1200px) {
  .home {
    min-width: 1000px;
    margin-left: 8rem;
    margin-right: 9rem;
  }
  .home-img {
    width: 27rem;
    height: 27rem;
    margin-right: -8rem;
  }
  .home-content {
    padding-top: 0;
    padding-left: 5rem;
  }
}
@media screen and (min-width: 1280px) {
  .home {
    max-width: 1100px;
    margin-left: 3rem;
  }
  .home-img {
    width: 28rem;
    height: 28rem;
    position: absolute;
    right: 1rem;
    top: 2rem;
  }
  .home-content {
    margin-top: 3rem;
    margin-right: 25rem;
  }
  .home-title {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1368px) {
  .home {
    max-width: 1200px;
  }
  .home-img {
    width: 28rem;
    height: 28rem;
    position: absolute;
    right: 5rem;
    top: 2rem;
  }
  .home-content {
    margin-top: 3rem;
    margin-left: 5rem;
  }
  .home-title {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1568px) {
  .home {
    margin-top: 3rem;
    max-width: 1300px;
  }
  .home-title {
    font-size: 3rem;
  }
  .home-img {
    width: 31.375rem;
    height: 31.375rem;
  }
}
/* ========--- COUNTER-----======== */
.counters {
  position: absolute;
  top: 43.33rem;
  background-color: var(--first-color);
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.counter-num {
  color: var(--container-color);
  text-align: center;
  font-size: 1.5rem;
}

.counter-text {
  text-align: center;
  letter-spacing: 0.166rem;
  font-size: 0.7rem;
  color: var(--container-color);
}
@media screen and (min-width: 340px), (max-width: 340px) {
  .counters {
    top: 50.375rem;
  }
}
@media screen and (max-width: 350px) {
  .counters {
    top: 50.375rem;
    display: block;
  }
}
@media screen and (min-width: 400px) {
  .counters {
    top: 45.375rem;
  }
}

@media screen and (min-width: 568px) {
  .counters {
    top: 34.375rem;
  }
  .counter-num {
    font-size: 1.5rem;
  }

  .counter-text {
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 768px) {
  .counter-num {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .counters {
    top: 38.375rem;
  }
}
/* ============---ABOUT----============= */
.abouts {
  width: 100%;
  position: absolute;
  left: 0;
  top: 52.688rem;
}

.about-up {
  padding: 1rem;
}
.about-img-up {
  width: 22.813rem;
  height: 15.208rem;
}

.about-title-up {
  font-size: 1.9rem;
}
.about-content-up {
  margin-top: 2rem;
}
.about-description-up {
  font-size: 0.8rem;
  margin-top: 0.8rem;
}

.about-btn-up {
  padding: 0.7rem;
  margin-top: 1rem;
  font-size: 0.8rem;
  background: var(--first-color);
  color: var(--container-color);
  border-color: transparent;
  box-shadow: var(--dark-shadow);
}

.about-down {
  padding: 1rem;
}
.about-img-down-right {
  display: none;
}
.about-img-down {
  width: 18.813rem;
  height: 20.208rem;
}
.about-title-down {
  font-size: 1.9rem;
}
.about-content-down {
  margin-top: 2rem;
}
.about-description-down {
  font-size: 0.8rem;
  margin-top: 0.8rem;
}
.about-item-down {
  display: flex;
  font-size: 0.7rem;
}
.about-icon {
  width: 1.4rem;
  font-size: 1rem;
  color: var(--first-color);
}
.about-btn-down {
  padding: 0.7rem;
  margin: 1rem;
  font-size: 0.8rem;
  background: var(--first-color);
  color: var(--container-color);
  border-color: transparent;
  box-shadow: var(--dark-shadow);
}
@media screen and (max-width: 350px) {
  .abouts {
    top: 65.3rem;
  }
  .about-img-up {
    width: 15.813rem;
    height: 12.208rem;
  }
  .about-title-up,
  .about-title-down {
    font-size: 1.4rem;
  }
  .about-description-up,
  .about-description-down {
    font-size: 0.7rem;
  }
  .about-img-down {
    width: 15.813rem;
    height: 18.208rem;
  }
}

@media screen and (min-width: 352px) {
  .abouts {
    top: 57.3rem;
  }
  .about-img-up {
    width: 19.813rem;
    height: 12.208rem;
  }
  .about-content-up,
  .about-content-down {
    padding-left: 0.5rem;
  }
  .about-title-up,
  .about-title-down {
    font-size: 1.4rem;
  }
  .about-description-up,
  .about-description-down {
    font-size: 0.7rem;
  }
  .about-description-down {
    margin: 1rem auto;
  }
  .about-img-down {
    width: 19.813rem;
    height: 21.208rem;
  }
}
@media screen and (min-width: 400px) {
  .abouts {
    top: 52.3rem;
  }
  .about-content-up,
  .about-content-down {
    padding-left: 0.6rem;
  }
  .about-title-up,
  .about-title-down {
    font-size: 1.7rem;
  }
  .about-description-up,
  .about-description-down {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 568px) {
  .abouts {
    top: 42.3rem;
    max-width: 700px;
    padding: 1rem 0.5rem;
  }
  .about-up {
    display: flex;
  }
  .about-img-up {
    height: 14.208rem;
  }
  .about-content-up,
  .about-content-down {
    margin-top: auto;
  }
  .about-description-up {
    font-size: 0.7rem;
  }
  .about-down {
    display: flex;
  }
}
@media screen and (min-width: 668px) {
  .abouts {
    max-width: 700px;
  }
  .about-img-up {
    width: 19.813rem;
    height: 18.208rem;
  }
  .about-content-up {
    padding-left: 2rem;
    margin: auto;
  }
  .about-description-up {
    font-size: 0.7rem;
  }

  .about-down {
    display: flex;
  }
  .about-img-down {
    width: 21.813rem;
    height: 22.208rem;
  }
  .about-content-down {
    padding-left: 1rem;
    margin: auto;
  }
}
@media screen and (min-width: 768px) {
  .abouts {
    max-width: 700px;
  }
  .about-img-up {
    width: 21.813rem;
    height: 18.208rem;
  }
  .about-content-up {
    margin-right: -5rem;
  }
  .about-description-up {
    font-size: 0.7rem;
  }

  .about-down {
    display: flex;
  }
  .about-img-down {
    width: 21.813rem;
    height: 22.208rem;
    margin-right: -5rem;
  }
  .about-content-down {
    padding-left: 1rem;
    margin: auto;
  }
}
@media screen and (min-width: 880px) {
  .abouts {
    max-width: 768px;
  }
  .about-up,
  .about-down {
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 968px) {
  .abouts {
    max-width: 871px;
    margin-right: 7rem;
    margin-left: -1rem;
  }
  .about-img-up {
    width: 26rem;
    height: 21rem;
  }
  .about-img-down {
    width: 27rem;
    height: 30rem;
    margin-right: -4rem;
  }
}
