@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  /* Colors */
  /*change favorite color*/
  --hue-color: 250;
  /* purple 250 - Green 142 - blue 230 - pink 340 */

  /* HSL COLOR MODE */
  --first-color: #f46905;
  --first-color-second: #db5f06;
  --first-color-alt: #de5f04;
  --first-color-lighter: #f07d2c;
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: rgb(127, 127, 127);
  --text-color-light: hsl(211, 27%, 70%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 99%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
  --radius: 0.5rem;
  --fixed-width: 620px;
  --spacing: 0.1rem;
  /* FONT And TYPOGRAPHY */
  --body-font-sm: "Roboto", sans-serif;
  --body-font-lg: "Quicksand", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ...*/
  --big-font-size: 2rem;
  --bigger-font-size: 3rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --transition: all 0.3s linear;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  /* z-index*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* ============== BASE ================== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font-sm);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  position: relative;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: 800;
  font-family: var(--body-font-lg);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ========---- HEADER -------====== */
nav {
  background: var(--body-color);
  box-shadow: var(--light-shadow);
}

.header-top {
  position: fixed;
  top: 0;
  right: 0;
  z-index: var(--z-fixed);
  width: 100%;
  height: 4rem;
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--body-color);
  box-shadow: var(--light-shadow);
}

.nav--logo {
  height: 1.4rem;
  position: relative;
  top: 0rem;
  left: 2rem;
}

.nav-toggle {
  position: absolute;
  top: 0.3rem;
  right: 3rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--first-color);
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
}

.nav-toggle:hover {
  color: var(--first-color-alt);
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-modal);
  background-color: var(--body-color);
  /* box-shadow: var(--light-shadow); */
  transition: var(--transition);
  transform: translate(-100%);
}

.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.close-btn {
  font-size: 1.9rem;
  background: transparent;
  border-color: transparent;
  color: var(--first-color);
  cursor: pointer;
  transition: var(--transition);
  color: var(--first-color-second);
}

.close-btn:hover {
  color: var(--first-color-lighter);
  transform: rotate(360deg);
}

.nav-logo {
  justify-self: center;
  height: 20px;
}

.nav-link {
  display: block;
  font-size: 1.5rem;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  color: var(--first-color-alt);
  transition: var(--transition);
  cursor: pointer;
}

.nav-link:hover {
  background: var(--first-color);
  color: var(--container-color);
  padding-left: 1.75rem;
}

.nav-btn {
  font-size: 0.9rem;
  padding: 0.5rem;
  margin: 0.6rem;
  background: var(--first-color);
  color: var(--container-color);
  border-color: transparent;
  box-shadow: var(--light-shadow);
  cursor: pointer;
}

.show-sidebar {
  transform: translate(0);
}

@media screen and (max-width: 395px) {
  .nav--logo {
    height: 1.1rem;
  }
}

@media screen and (min-width: 676px) {
  .sidebar {
    width: 400px;
  }
}

@media screen and (min-width: 768px) {
  .sidebar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    translate: none;
    transform: none;
  }

  .nav-top {
    padding: 0;
  }

  .nav--logo {
    display: none;
  }

  .close-btn {
    display: none;
  }

  .nav-toggle {
    display: none;
  }

  .nav-logo {
    padding-left: 2rem;
  }

  .nav-list {
    height: auto;
    display: flex;
  }

  .nav-link {
    padding: 0;
    font-size: 0.9rem;
    margin: 1rem 0.6rem;
  }

  .nav-link:hover {
    padding: 0;
    background: none;
    color: var(--first-color-second);
  }

  .nav-btn {
    margin: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .nav-list {
    display: flex;
    margin-left: auto;
    margin-right: 1rem;
  }

  .nav-btn {
    margin-right: 5rem;
  }

  .nav-logo {
    padding-left: 7rem;
  }
}

@media screen and (min-width: 1300px) {
  .nav-list {
    display: flex;
    margin-right: 2rem;
  }

  .nav-btn {
    margin-right: 8rem;
  }
}

@media screen and (min-width: 1400px) {
  .nav-logo {
    margin-left: 7rem;
  }
}

/* --==== HOME ======----- */
.home {
  position: absolute;
  top: 5rem;
}

.home-content {
  padding: 1rem;
}

.home-title {
  font-size: 2rem;
  padding-left: 1rem;
  line-height: 2rem;
  font-weight: 700;
  text-transform: capitalize;
}

.home-description {
  padding: 1rem;
  font-size: 0.9rem;
  line-height: 1.75rem;
  font-weight: 400;
}

.button-content {
  padding: 1rem;
}

.home-button {
  padding: 0.5rem;
  font-size: 0.8rem;
  background: var(--first-color);
  color: var(--container-color);
  border-color: transparent;
  box-shadow: var(--dark-shadow);
  cursor: pointer;
}

.right-btn {
  margin-left: 0.6rem;
  background: var(--container-color);
  color: var(--text-color);
}

.home-img {
  width: 19rem;
  height: 19rem;
  padding: 1rem;
}

@media screen and (min-width: 568px) {
  .home {
    max-width: 700px;
    padding: 4rem 0.5rem;
    display: flex;
    align-items: center;
  }

  .home-title {
    font-size: 1.6rem;
  }

  .home-description {
    font-size: 0.8rem;
  }

  .right-btn {
    margin-right: -3rem;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .home {
    max-width: 900px;
  }

  .home-content {
    padding-left: 1rem;
  }

  .home-title {
    font-size: 2.4rem;
    line-height: 3rem;
  }

  .home-img {
    width: 22rem;
    height: 22rem;
    padding-right: 2rem;
  }
}

@media screen and (min-width: 880px) {
  .home {
    max-width: 900px;
  }

  .home-content {
    padding-left: 3rem;
  }

  .home-img {
    width: 25rem;
    height: 25rem;
  }
}

@media screen and (min-width: 968px) {
  .home {
    max-width: 980px;
    padding-right: 7rem;
  }

  .home-content {
    padding-left: 5rem;
  }
}

@media screen and (min-width: 1024px) {
  .home {
    max-width: 1000px;
    padding-left: 1rem;
    margin-left: 7rem;
  }

  .home-content {
    padding-left: 1rem;
    margin-left: -3rem;
  }

  .home-img {
    width: 25rem;
    height: 25rem;
    margin-left: -2rem;
  }
}

@media screen and (min-width: 1200px) {
  .home {
    max-width: 1000px;
    margin-left: 5rem;
    margin-right: 9rem;
  }

  .home-img {
    width: 29rem;
    height: 29rem;
    margin-right: -8rem;
  }

  .home-content {
    padding-top: 0;
    padding-left: 5rem;
  }
}

@media screen and (min-width: 1280px) {
  .home {
    max-width: 1100px;
    margin-left: 3rem;
  }

  .home-img {
    width: 30rem;
    height: 31rem;
    position: absolute;
    right: 5rem;
    top: 1rem;
  }

  .home-content {
    margin-top: 3rem;
    margin-right: 25rem;
  }

  .home-title {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1368px) {
  .home {
    max-width: 1200px;
  }

  .home-img {
    width: 28rem;
    height: 28rem;
    position: absolute;
    right: 5rem;
    top: 2rem;
  }

  .home-content {
    margin-top: 3rem;
    margin-left: 5rem;
  }

  .home-title {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1568px) {
  .home {
    margin-top: 3rem;
    max-width: 1300px;
  }

  .home-title {
    font-size: 3rem;
  }

  .home-img {
    width: 31.375rem;
    height: 31.375rem;
  }
}

/* ========--- COUNTER-----======== */
.counters {
  position: absolute;
  top: 43.33rem;
  background-color: var(--first-color);
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.counter-num {
  color: var(--container-color);
  text-align: center;
  font-size: 1.5rem;
}

.counter-text {
  text-align: center;
  letter-spacing: 0.166rem;
  font-size: 0.7rem;
  color: var(--container-color);
}

@media screen and (min-width: 340px),
(max-width: 340px) {
  .counters {
    top: 50.375rem;
  }
}

@media screen and (max-width: 350px) {
  .counters {
    top: 50.375rem;
    display: block;
  }
}

@media screen and (min-width: 400px) {
  .counters {
    top: 45.375rem;
  }
}

@media screen and (min-width: 568px) {
  .counters {
    top: 34.375rem;
  }

  .counter-num {
    font-size: 1.5rem;
  }

  .counter-text {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 768px) {
  .counter-num {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .counters {
    top: 38.375rem;
  }
}

/* ============---ABOUT----============= */
.abouts {
  width: 100%;
  position: absolute;
  left: 0;
  top: 52.688rem;
}

.about-up {
  padding: 1rem;
}

.about-img-up {
  width: 22.813rem;
  height: 15.208rem;
}

.about-title-up {
  font-size: 1.9rem;
}

.about-content-up {
  margin-top: 2rem;
}

.about-description-up {
  font-size: 0.8rem;
  margin-top: 0.8rem;
}

.about-btn-up {
  padding: 0.7rem;
  margin-top: 1rem;
  font-size: 0.8rem;
  background: var(--first-color);
  color: var(--container-color);
  border-color: transparent;
  box-shadow: var(--dark-shadow);
  cursor: pointer;
}

.about-down {
  padding: 1rem;
}

.about-img-down-right {
  display: none;
}

.about-img-down {
  width: 18.813rem;
  height: 20.208rem;
}

.about-title-down {
  font-size: 1.9rem;
}

.about-content-down {
  margin-top: 2rem;
}

.about-description-down {
  font-size: 0.8rem;
  margin-top: 0.8rem;
}

.about-item-down {
  display: flex;
  font-size: 0.7rem;
}

.about-icon {
  width: 1.4rem;
  font-size: 1rem;
  color: var(--first-color);
}

.about-btn-down {
  padding: 0.7rem;
  margin: 1rem;
  font-size: 0.8rem;
  background: var(--first-color);
  color: var(--container-color);
  border-color: transparent;
  box-shadow: var(--dark-shadow);
  cursor: pointer;
}

@media screen and (max-width: 350px) {
  .abouts {
    top: 65.3rem;
  }

  .about-img-up {
    width: 15.813rem;
    height: 12.208rem;
  }

  .about-title-up,
  .about-title-down {
    font-size: 1.4rem;
  }

  .about-description-up,
  .about-description-down {
    font-size: 0.7rem;
  }

  .about-img-down {
    width: 15.813rem;
    height: 18.208rem;
  }
}

@media screen and (min-width: 352px) {
  .abouts {
    top: 57.3rem;
  }

  .about-img-up {
    width: 19.813rem;
    height: 12.208rem;
  }

  .about-content-up,
  .about-content-down {
    padding-left: 0.5rem;
  }

  .about-title-up,
  .about-title-down {
    font-size: 1.4rem;
  }

  .about-description-up,
  .about-description-down {
    font-size: 0.7rem;
  }

  .about-description-down {
    margin: 1rem auto;
  }

  .about-img-down {
    width: 19.813rem;
    height: 21.208rem;
  }
}

@media screen and (min-width: 400px) {
  .abouts {
    top: 52.3rem;
  }

  .about-content-up,
  .about-content-down {
    padding-left: 0.6rem;
  }

  .about-title-up,
  .about-title-down {
    font-size: 1.7rem;
  }

  .about-description-up,
  .about-description-down {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 568px) {
  .abouts {
    top: 42.3rem;
    max-width: 700px;
    padding: 1rem 0.5rem;
  }

  .about-up {
    display: flex;
  }

  .about-img-up {
    height: 14.208rem;
  }

  .about-content-up,
  .about-content-down {
    margin-top: auto;
  }

  .about-description-up {
    font-size: 0.7rem;
  }

  .about-down {
    display: flex;
  }
}

@media screen and (min-width: 668px) {
  .abouts {
    max-width: 750px;
  }

  .about-img-up {
    width: 19.813rem;
    height: 18.208rem;
  }

  .about-content-up {
    padding-left: 2rem;
    margin: auto;
  }

  .about-description-up {
    font-size: 0.7rem;
  }

  .about-down {
    display: flex;
  }

  .about-img-down {
    width: 21.813rem;
    height: 22.208rem;
  }

  .about-content-down {
    padding-left: 1rem;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .abouts {
    margin-left: auto;
    max-width: 700px;
  }

  .about-img-up {
    width: 21.813rem;
    height: 18.208rem;
  }

  .about-content-up {
    margin-right: -5rem;
  }

  .about-description-up {
    font-size: 0.7rem;
  }

  .about-down {
    display: flex;
  }

  .about-img-down {
    width: 21.813rem;
    height: 22.208rem;
    margin-right: -5rem;
  }

  .about-content-down {
    padding-left: 1rem;
    margin: auto;
  }
}

@media screen and (min-width: 880px) {
  .abouts {
    margin-left: auto;
    max-width: 800px;
  }

  .about-up,
  .about-down {
    margin-right: 3rem;
    margin-left: 4rem;
  }

  .about-img-down {
    width: 23.813rem;
    height: 25.208rem;
    margin-right: -5rem;
  }
}

@media screen and (min-width: 950px) {
  .abouts {
    margin-left: auto;
    max-width: 860px;
  }
}

@media screen and (min-width: 968px) {
  .abouts {
    max-width: 871px;
    margin-left: 2rem;
    margin-right: 9rem;
  }

  .about-img-up {
    width: 26rem;
    height: 21rem;
    margin-right: 2rem;
    margin-left: -1rem;
  }

  .about-content-up {
    margin-right: -5rem;
    margin-left: -2rem;
  }

  .about-img-down {
    width: 27rem;
    height: 30rem;
    margin-right: -6rem;
  }

  .about-content-down {
    padding-left: 0;
    margin-left: 1rem;
    position: relative;
    right: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .abouts {
    max-width: 950px;
  }

  .about-img-up {
    width: 29rem;
    height: 21rem;

  }

  .about-up,
  .about-down {
    margin-right: 3rem;
    margin-left: 3rem;
  }

  .about-img-down {
    width: 27rem;
    height: 30rem;
    margin-right: -3rem;
  }
}

@media screen and (min-width: 1200px) {
  .abouts {
    margin-top: 5rem;
    max-width: 1100px;
  }

  .about-img-up {
    width: 35rem;
    height: 24rem;
    margin-right: 2rem;
    margin-left: -1rem;
  }

  .about-content-up {
    margin-right: 1rem;
    margin-left: -2rem;
  }

  .about-img-down {
    width: 35rem;
    height: 38rem;
    margin-right: -3rem;
  }

  .about-up,
  .about-down {
    margin-right: 3rem;
    margin-left: 2rem;
  }

  .about-down {
    margin-top: 3rem;
  }
}

@media screen and (min-width: 1348px) {
  .abouts {
    max-width: 1150px;
  }

  .about-img-up {
    width: 35rem;
    height: 27rem;
  }

  .about-up,
  .about-down {
    margin-right: -7rem;
    margin-left: 2rem;
  }

  .about-up {
    margin-right: -10rem;
    margin-left: 6rem;
  }

  .about-img-down {
    margin-right: 4rem;
  }

  .about-content-up {
    margin-left: 11rem;
    position: relative;
    left: -12rem;
  }

  .about-content-down {
    padding-left: 0;
    margin-left: 11rem;
    position: relative;
    right: 8rem;
  }
}

/* ======= STORY ======== */
.story {
  width: 100%;
  position: absolute;
  top: 131.1875rem;
  left: 0;
}

.story-image {
  width: 100%;
  height: 16rem;
}

.story-content {
  position: absolute;
  top: 2rem;
  left: 1px;
  text-align: center;
  margin: 0 3.44rem;
}

.story-title {
  font-size: var(--h3-font-size);
  color: var(--first-color-alt);
}

.story-description {
  font-size: var(--small-font-size);
  color: var(--container-color);
  margin: 0 0.96rem;
  line-height: 1.2rem;
  margin-top: 0.7rem;
}

.watch-story {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--container-color);
  margin-top: 1rem;

}

.watch-story i {
  margin-right: 0.4rem;
}

@media screen and (max-width: 350px) {
  .story {
    top: 135.1875rem;
    left: 0;
  }

  .story-image {
    width: 100%;
    height: 15rem;
  }

  .story-content {
    top: 2rem;
    left: 1px;
    margin: 0 3.44rem;
  }

  .story-title {
    font-size: var(--h4-font-size);
  }

  .story-description {
    font-size: var(--smaller-font-size);
    margin-top: 0.7rem;
  }

  .watch-story {
    font-size: var(--smaller-font-size);
  }
}

@media screen and (min-width: 400px) {
  .story {
    top: 129.1875rem;
  }

  .story-content {
    top: 3.8rem;
  }
}

@media screen and (min-width: 489px) {
  .story {
    top: 126.1875rem;
  }
}

@media screen and (min-width: 497px) {
  .story {
    top: 124.1875rem;
  }
}

@media screen and (min-width: 568px) {
  .story {
    top: 99rem;
  }

  .story-content {
    top: 3.6rem;
    left: 1px;
    margin: 0 5rem;
  }

  .story-title {
    font-size: var(--h2-font-size);
  }

  .story-description {
    font-size: var(--smaller-font-size);
    margin: 0 0.96rem;
    margin-top: 1rem;
  }

  .watch-story {
    font-size: var(--smaller-font-size);
    margin-top: 1rem;
  }
}

@media screen and (min-width: 595px) {
  .story {
    top: 96rem;
  }
}

@media screen and (min-width: 625px) {
  .story {
    top: 90rem;
  }

  .story-description {
    font-size: var(--smaller-font-size);
    margin: 0 3rem;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 668px) {
  .story {
    top: 93rem;
  }

  .story-title {
    font-size: var(--h1-font-size);
  }

  .story-description {
    font-size: var(--small-font-size);
    margin: 0 5rem;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 700px) {
  .story {
    top: 90rem;
  }
}

@media screen and (min-width: 768px) {
  .story {
    top: 90rem;
  }

  .story-content {
    margin: 0 9rem;
  }

  .story-title {
    font-size: var(--h1-font-size);
  }

  .story-description {
    font-size: var(--smaller-font-size);
    margin: 0 3rem;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 880px) {
  .story {
    top: 94rem;
  }

  .story-content {
    margin: 0 10rem;
  }


  .story-description {
    margin: 0 6rem;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 927px) {
  .story-title {
    margin: 0 1rem;
  }
}

@media screen and (min-width: 959px) {
  .story {
    top: 94rem;
  }

  .story-title {
    font-size: 1.7rem;
    margin: 0 2rem;
  }

  .story-description {
    margin: 0 8rem;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 959px) {
  .story {
    top: 101rem;
  }
}

@media screen and (min-width: 1072px) {
  .story-title {
    font-size: 1.7rem;
    margin: 0 3rem;
  }

  .story-description {
    margin: 0 11rem;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1072px) {
  .story-title {
    margin: 0 7rem;
  }

  .story-description {
    margin: 0 11rem;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .story {
    top: 120.1875rem;
  }

  .story-image {
    width: 100%;
    height: 18rem;
  }

  .story-title {
    font-size: 1.8rem;
  }

  .story-description {
    margin: 0 15rem;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1254px) {
  .story {
    top: 120.1875rem;
  }

  .story-title {
    margin: 0 11rem;
  }

  .story-description {
    margin: 0 15rem;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1348px) {
  .story {
    top: 123.1875rem;
  }

  .story-image {
    width: 100%;
    height: 20rem;
  }

  .story-content {
    top: 6rem;
  }

  .story-title {
    margin: 0 11rem;
  }

  .story-description {
    margin: 0 15rem;
    margin-top: 1rem;
  }
}

/* ======== EXPLORE OUR FOOD ======== */
.explore-food {
  position: absolute;
  top: 150rem;
  left: 0;
  width: 100%;
}

.explore-text {
  text-align: center;
}

.explore-title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.explore-description {
  font-size: var(--small-font-size);
  margin-bottom: 6rem;
  line-height: 1.3rem;
}

.explore-content {
  font-size: 62.3%;
}

.food-content {
  margin-bottom: 4rem;
  text-align: center;
}

.food-img {
  width: 13rem;
  margin: 0 4.5rem;
  margin-bottom: 0.6rem;
}

.food-title {
  font-size: 0.9rem;
  color: var(--title-color);
  margin-bottom: 0.3rem;
}

.food-time {
  margin-bottom: 0.2rem;
  text-transform: capitalize;
  font-size: 0.72rem;
  color: var(--text-color);
}

.food-price {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--first-color);
  margin-bottom: 1rem;
  font-family: var(--body-font-lg);
}

.food-price span {
  font-size: 0.8rem;
  color: var(--text-color-light);
  text-decoration: line-through;
  padding-left: 0.2rem;
}

.food-content hr {
  margin: 0 auto;
  margin-bottom: 1rem;
  opacity: 7%;
  width: 17rem;
}

.food-btn {
  padding: 0.5rem;
  margin: 1rem;
  font-size: 0.8rem;
  background: var(--first-color);
  color: var(--container-color);
  border-color: transparent;
  box-shadow: var(--dark-shadow);
}

@media screen and (max-width: 350px) {
  .explore-food {
    top: 155rem;
    left: 0;
  }

  .explore-title {
    font-size: 1.5rem;
  }

  .explore-description {
    font-size: 0.6rem;
    margin-bottom: 6rem;
  }

  .explore-content {
    font-size: 62.3%;
    margin: 0 auto;
  }

  .food-content {
    margin-bottom: 4rem;
    text-align: center;
  }

  .food-img {
    width: 14rem;
    margin: 0 auto;
    margin-bottom: 0.6rem;
  }

  .food-title {
    font-size: 0.9rem;
    color: var(--title-color);
    margin-bottom: 0.3rem;
  }

  .food-time {
    margin-bottom: 0.2rem;
    text-transform: capitalize;
    font-size: 0.72rem;
    color: var(--text-color);
  }

  .food-price {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--first-color);
    margin-bottom: 1rem;
    font-family: var(--body-font-lg);
    cursor: pointer;
  }

  .food-price span {
    font-size: 0.8rem;
    color: var(--text-color-light);
    text-decoration: line-through;
    padding-left: 0.2rem;
  }

}

@media screen and (min-width: 500px) {
  .explore-food {
    top: 145rem;
  }
}

@media screen and (min-width: 568px) {
  .explore-food {
    top: 120rem;
  }

  .explore-description {
    font-size: 0.8rem;
    margin: 0 2rem;
    margin-bottom: 5rem;
  }
}

@media screen and (min-width: 625px) {
  .explore-food {
    top: 112rem;
  }

  .explore-description {
    font-size: 0.8rem;
    margin: 0 2rem;
    margin-bottom: 5rem;
  }
}

@media screen and (min-width: 768px) {
  .explore-food {
    top: 112rem;
  }

  .explore-description {
    font-size: 0.8rem;
    margin: 0 2rem;
    margin-bottom: 5rem;
  }
}

@media screen and (min-width: 880px) {
  .explore-food {
    top: 115rem;
  }

  .explore-title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .explore-description {
    font-size: var(--small-font-size);
    margin: 0 9em;
    margin-bottom: 6rem;
  }



  .food-content {
    margin-bottom: 4rem;
    text-align: center;
  }

  .food-img {
    width: 15rem;
    margin: 0 4.5rem;
    margin-bottom: 0.6rem;
  }

  .food-title {
    font-size: 0.9rem;
    color: var(--title-color);
    margin-bottom: 0.3rem;
  }

  .food-time {
    margin-bottom: 0.2rem;
    text-transform: capitalize;
    font-size: 0.72rem;
    color: var(--text-color);
  }
}

@media screen and (min-width: 958px) {
  .explore-food {
    top: 123rem;
    width: 100%;
  }

  .explore-description {
    font-size: var(--small-font-size);
    margin: 0 9rem;
    margin-bottom: 6rem;
  }

  .explore-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .food-content {
    text-align: left;
    width: 17rem;
  }

  .food-img {
    width: 15rem;
    margin: 0 auto;
    margin-bottom: 0.6rem;
  }

  .food-title {
    font-size: 0.9rem;
    color: var(--title-color);
    margin-bottom: 0.5rem;
  }

  .food-time {
    margin-bottom: 0.4rem;
    font-size: 0.72rem;
  }

  .food-price {
    margin-bottom: 1rem;
    cursor: pointer;
  }

  .food-content hr {
    margin: 0;
    margin-bottom: 1rem;
    opacity: 7%;
    width: 14.6rem;
  }

  .food-btn {
    padding: 0.5rem;
    margin: 0;
    cursor: pointer;
  }
}

@media screen and (min-width: 1024px) {
  .explore-description {
    margin: 0 13rem;
    margin-bottom: 6rem;
  }
}

@media screen and (min-width: 1050px) {
  .explore-description {
    margin: 0 17rem;
    margin-bottom: 6rem;
  }
}

@media screen and (min-width: 1200px) {
  .explore-food {
    top: 145rem;
    width: 100%;
  }

  .explore-description {
    margin: 0 19rem;
    margin-bottom: 6rem;
  }

  .food-content {
    text-align: left;
    width: 19rem;
  }
}

@media screen and (min-width: 1348px) {
  .explore-food {
    top: 150rem;
    width: 100%;
  }

  .explore-description {
    margin: 0 24rem;
    margin-bottom: 6rem;
  }

  .explore-content {
    margin: 0 4rem;
  }

  .food-content {
    margin: 0 4rem;
    width: 25rem;
  }

  .food-img {
    width: 19rem;
  }
}

/* ======== TESTIMONIALS ======== */

.testimonials {
  background-color: var(--first-color);
  width: 100%;
  position: absolute;
  top: 237rem;
  text-align: center;
}

.testimonial-title {
  color: var(--container-color);
  margin: 2rem auto;
  margin-top: 3rem;
}

.testimonial-content {
  background-color: var(--container-color);
  margin: 5rem;
  padding: 3rem;
  border-radius: 0.4rem;
}

.testimonial-img {
  width: 3rem;
}

.testimonial-description {
  font-size: var(--smaller-font-size);
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.testimonial-name {
  font-size: 0.6rem;
  color: var(--first-color-lighter);
  font-weight: 600;
}

.testimonial-dot {
  height: 0.7rem;
  width: 0.7rem;
  background-color: rgb(199, 188, 188);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  bottom: 2rem;
}

.active-dot {
  background-color: var(--container-color);
}

@media screen and (max-width: 350px) {
  .testimonials {
    top: 245rem;
  }

  .testimonial-description {
    font-size: 0.6rem;
  }
}

@media screen and (min-width: 500px) {
  .testimonials {
    top: 234rem;
  }
}

@media screen and (min-width: 568px) {
  .testimonials {
    top: 210rem;
  }
}

@media screen and (min-width: 625px) {
  .testimonials {
    top: 200rem;
  }
}

@media screen and (min-width: 800px) {
  .testimonial-description {
    margin: 0 5rem;
  }
}

@media screen and (min-width: 880px) {
  .testimonials {
    top: 207rem;
  }

  .testimonial-description {
    margin: 0 5rem;
  }
}

@media screen and (min-width: 958px) {
  .testimonials {
    top: 161rem;
  }

  .testimonial-description {
    margin: 0 10rem;
  }
}

@media screen and (min-width: 1055px) {
  .testimonial-description {
    margin: 0 13rem;
  }
}

@media screen and (min-width: 1155px) {
  .testimonial-description {
    margin: 0 15rem;
  }
}

@media screen and (min-width: 1200px) {
  .testimonials {
    top: 183rem;
  }

  .testimonial-description {
    margin: 0 15rem;
  }
}

@media screen and (min-width: 1220px) {
  .testimonials {
    top: 183rem;
  }

  .testimonial-description {
    margin: 0 18rem;
  }
}

@media screen and (min-width: 1260px) {
  .testimonials {
    top: 183rem;
  }

  .testimonial-description {
    margin: 0 19rem;
  }
}

@media screen and (min-width: 1348px) {
  .testimonials {
    top: 193rem;
  }

  .testimonial-description {
    margin: 0 21rem;
  }
}

/* ======== QUESTIONS ======== */

.questions {
  font-size: 62.3%;
  position: relative;
  top: 274rem;
  width: 100%;
}

.questions-title {
  margin-bottom: 4rem;
  font-family: "Quicksand", cursive;
  font-size: var(--h1-font-size);
  text-align: center;
  color: var(--title-color);
}

.question-container {
  width: 20rem;
  margin: 0 auto;
}

.question-content {
  /* background: var(--container-color); */
  border-radius: var(--radius);
  /* box-shadow: var(--light-shadow); */
  padding: 1.5rem 1.5rem 1.5rem;
  margin-bottom: 2rem;
}

.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  padding-bottom: 1rem;
}

.question-title h4 {
  /* letter-spacing: var(--spacing); */
  color: var(--clr-grey-1);
  font-size: 0.7rem;
}

.line {
  color: var(--first-color-alt);
  margin-right: 0.2rem;
}

.question-btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: var(--first-color-lighter);
  transition: var(--transition);
}

.question-text {
  padding: 1rem 0 1.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  font-size: var(--small-font-size);
}

/* hide text */
.question-text {
  display: none;
}

.show-text .question-text {
  display: block;
}

.angle-up-icon {
  display: none;
}

.show-text .angle-up-icon {
  display: inline;
}

.show-text .angle-down-icon {
  display: none;
}

@media screen and (max-width: 350px) {
  .questions {
    top: 285rem;
  }

  .question-container {
    width: 15rem;
  }
}

@media screen and (min-width: 351px) {
  .questions {
    top: 280rem;
  }
}

@media screen and (min-width: 458px) {
  .questions {
    top: 277rem;
  }
}

@media screen and (min-width: 500px) {
  .questions {
    top: 270rem;
  }
}

@media screen and (min-width: 568px) {
  .questions {
    top: 247rem;
  }

  .question-container {
    width: 28rem;
  }
}

@media screen and (min-width: 625px) {
  .questions {
    top: 237rem;
  }
}

@media screen and (min-width: 880px) {
  .questions {
    top: 242rem;
  }
}

@media screen and (min-width: 958px) {
  .questions {
    top: 195rem;
  }

  .question-container {
    width: 53rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .questions {
    top: 217rem;
  }

  .question-container {
    width: 53rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}

@media screen and (min-width: 1348px) {
  .questions {
    top: 227rem;
  }

  .question-container {
    width: 53rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}

/* ======== DIVIDER ======== */
.divider {
  position: relative;
  top: 280rem;
  background-color: var(--title-color);
  padding: 2rem;
  width: 100%;
  color: var(--container-color);
  text-align: center;
}

.divider span {
  font-family: var(--body-font-lg);
  font-weight: 600;
}

.divider-btn {
  background-color: var(--first-color);
  border-color: transparent;
  color: var(--container-color);
  outline: none;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 1.5rem;
  padding: 0.5rem;
}

@media screen and (max-width: 350px) {
  .divider {
    top: 287rem;
  }

  .divider span {
    font-size: var(--smaller-font-size);
  }
}

@media screen and (min-width: 500px) {
  .divider {
    top: 272rem;
  }

  .divider span {
    margin-right: 2rem;
  }
}

@media screen and (min-width: 568px) {
  .divider {
    top: 249rem;
  }
}

@media screen and (min-width: 625px) {
  .divider {
    top: 240rem;
  }
}

@media screen and (min-width: 880px) {
  .divider {
    top: 245rem;
  }
}

@media screen and (min-width: 958px) {
  .divider {
    top: 198rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .divider span {
    margin-right: 9rem;
  }

  .divider-btn {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .divider {
    top: 220rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .divider span {
    margin-right: 9rem;
  }

  .divider-btn {
    margin-top: 0;
  }
}

@media screen and (min-width: 1348px) {
  .divider {
    top: 229rem;
  }
}

/* <-- ======== NEWSLETTER ======== --> */
.newsletter {
  position: relative;
  top: 284rem;
  width: 100%;
  text-align: center;
}

.newsletter-title {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.newsletter-description {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.email-input {
  background-color: var(--input-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--smaller-font-size);
  border: none;
  outline: none;
  padding: 0.75rem 8rem 0.75rem 1rem;
}

.newsletter-button,
.newsletter-button a {
  background-color: var(--first-color);
  border-color: transparent;
  color: var(--container-color);
  outline: none;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

@media  screen and (max-width: 350px) {
  .newsletter {
  top: 292rem;
}
.newsletter-title{
  font-size: var(--h1-font-size);
}
.newsletter-description{
  font-size: 0.75rem;
}
}

@media  screen and (min-width: 500px) {
  .newsletter {
  top: 277rem;
}
}
@media  screen and (min-width: 568px) {
  .newsletter {
  top: 254rem;
}
}
@media  screen and (min-width: 625px) {
  .newsletter {
  top: 246rem;
}
}
@media  screen and (min-width: 880px) {
  .newsletter {
  top: 250rem;
}
}
@media  screen and (min-width: 958px) {
  .newsletter {
  top: 203rem;
}
.newsletter-title{
  font-size:1.7rem;
}
}
@media  screen and (min-width: 1200px) {
  .newsletter {
  top: 226rem;
}
}
@media  screen and (min-width: 1348px) {
  .newsletter {
  top: 234rem;
}
}